$bodyColor: #2b2d32;
$headerHeight: 100px;
html, body {
	margin: 0;
	padding: 0;
	position: relative;
	background-color: $bodyColor;
	color: #ccc;  
	a {
		color: #ccc;
		text-decoration: none;
	}
	.header {
		float: left;
		width: 100%;
		position: relative;
		height: $headerHeight;
		background-color: #24262a;
		border-bottom: 40px solid $bodyColor;
		text-transform: uppercase;
		font-weight: bold;
		ul, li {
			list-style-type: none;
			float: left;
			padding: 0;
			margin: 0;
		}
		
		nav {
			float: left;
			position: relative;
			width: 100%;
			transform: translateY(-50%);
			top: 50%;
			.primary {
				li {
					padding: 0 40px;
				}
			}
			.secondary {
				float: right;
				margin-right: 50px;
				li {
					padding: 0 20px 0 0;
					color: #fff;
					a {
						color: #fff;  
					}
					&.or {
						width: 60px;
						padding: 0;
						margin: 0;
						content: "";
						div {
							font-size: 10px;
							background-color: $bodyColor;
							font-weight: normal;
							padding: 10px;
							border-radius: 50%;
							position: absolute; 
							top: -50%;
							&:after {
								content: "";
								left: 50%; 
								position: absolute;
								width: 1px;
								background-color: $bodyColor;
								height: $headerHeight;
								top: -100%;
							}
						}
					}
					
				}
				
			} 
		}
		
	}
	.leftbar {
		float: left;
		width: 140px;
		position: fixed;
		height: 100%;
		max-height: 100%;
		overflow-y: scroll;
		margin-top: $headerHeight + 50px;
		box-sizing: border-box;
		padding: 20px;
		.carousel {
			overflow: hidden;
			white-space: nowrap;
			ul {
				li {
					float: none;
					display: inline-block;
					margin-left: -55%;
					transform: none;
					left: 0;
				}
				li:first-child {
					margin-left: 0;
				} 
			}		
		}
		ul {
			list-style-type: none;
			width: 100%;
		}
		ul, li {
			position: relative;
			margin: 0;
			padding: 0;
			float: left;
		}
		li {
			margin-bottom: 20px;
			border-radius: 50%;
			border: 2px solid #ddd;
			height: 60px;
			width: 60px;
			background-color: red;
			text-align: center;
			transform: translatex(-50%);
			left: 50%;
		}
		.items {
			position: relative;
			width: 100%;
			float: left;
			border-top: 1px solid #aaa;
			padding-top: 20px;
			margin-bottom: 40px;
		}
		
	}
	.content-body {
		float: left;
		width: calc(100% - 580px);
		position: relative;
		margin-left: 140px;
		background-color: #fff; 
		box-siing: border-box;
		padding: 70px;
		color: initial;
	}
	.rightbar {
		float: left; 
		width: 300px; 
		position: relative;
		right: 0; 
		box-sizing: border-box;
		padding: 0 15px 10px 12px;
		.promoted-post {
			box-sizing: border-box;
			padding: 15px;
			float: left;
			position: relative;
			width: 100%;
			.logo {
				color: #fff;
				float: left;
				position: relative;
				.promoted-text {
					font-size: 10px;
					color: #bbb;
					text-transform: uppercase;
				}	
			}
			.button {
				float: right;
				position: relative;
			}
		}
		
	}
	.footer {
		line-height: 80%;
		float: left;
		width: calc(100% - 440px);  
		position: relative;
		box-sizing: border-box;
		margin-left: 140px;
		padding: 20px; 
		a {
			color: #ccc;
		}
		.share {
			float: right;
		}
		ul {
			list-style-type: none;
			float: left;
			width: auto;
			margin: 0;
			padding: 0;
			position: relative;
			li {
				float: left;
				padding: 0;
				margin: 0;
				width: auto;
				border-right: 1px solid #ccc;
				&:first-child {
					padding-left: 0;
					margin-left: 0;
				}
				&:last-child {
					border-right: 0;
				}
			}
		}
		.footer-navigation {
			text-transform: uppercase;
			margin-bottom: 80px;
			li {
				padding: 0 25px;
			}
			.share {
				float: right;
			}
		}
		.copyright {
			color: #fff;
			float: left;
			width: 100%;
			margin-bottom: 20px;
			font-weight: bold;
			font-size: 120%;
		}
		.terms {
			float: left;
			width: 100%; 
			padding-bottom: 100px;
			li {
				padding: 0 15px;
			}
		}
	}
	.button {
		padding: 10px 20px;
		font-size: 10px;
		text-transform: uppercase;
		&.gray {
			background-color: #444;
			color: #fff;
		}		
	}

}
 









.rightbar {
	.post {
		background-color:#2b2d32;
			.name {
				color:#e8221a;
				font-size:12px;
				}
			.hashtag { display:none; }
		}
	}



